body{
    padding-top: 10px;
    background-color: #333;
    color: white;
}
#stickynav{
    text-align: right;
    width: 100vw;
    margin: 0;
    /* -webkit-app-region: drag; */
}
.ctrlBtn{
    background-color: transparent;
    border: 0;
    outline: none;
    transition: all 0.2s;
}
.ctrlBtn i{
    font-size: 18px;
    color: white;
}

.ctrlBtn:hover{
    background-color: red;
}
.footer{
    position: absolute;
    height: 10vh;
    background-color: #222;
    width: 100vw;
    margin: 0;
    bottom: 0;
}