body{
    padding-top: 10px;
    background-color: #333;
    color: white;
}
#stickynav{
    position: absolute;
    text-align: right;
    left: 0;
    width: 100vw;
    margin: 0;
}
.ctrlBtn{
    background-color: transparent;
    border: 0;
    outline: none;
    transition: all 0.2s;
}
.ctrlBtn i{
    font-size: 18px;
    color: white;
}

.ctrlBtn:hover{
    background-color: red;
}