@keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

#leftpane{
    height: 90vh;
    background-color: #222;
}
#rightpane{
    height: 90vh;
    background-color: #333;
}
#meta-container{
    height: 65vh;
}
#song-cover{
    width: 250px;
    height: 250px;
    background: url('../vectors/disc1.svg') center center no-repeat;
    border-radius: 50%;
    background-size: contain;
    animation: rotating 4s linear infinite;
    animation-play-state: paused;
    display: block;
}
#song-details{
    display: block;
}
#song-name{
    font-size: 30px;
    line-height: 2;
    display: block;
}
#song-artist{
    color: #999;
}
/* Player Config */

.playBtn, .repBtn, .shuffleBtn, .prevBtn, .nextBtn{
    padding: 0.4em;
    border-radius: 50%;
    width: fit-content;
    background-color: transparent;
    border: 0;
    outline: none;
    transition: all 0.2s;
}
.playBtn i, .repBtn i, .shuffleBtn i, .prevBtn i, .nextBtn i{
    font-size: 1.4em;
    width: 1.4em;
    text-align: center;
    line-height: 1.4em;
    color: white;
    transition: all 0.2s;
}

.nextBtn:hover i, .prevBtn:hover i{
    color: #888;
}

.playBtn:hover{
    background-color: white;
}

.playBtn:hover i{
    color: #333;
}
.slider {
    outline: 0;
    border: 0;
    margin: 20px;
    border-radius: 3px;
    -webkit-appearance: none;
    width: 100%;
    transition: all 450ms ease-in;
    height: 5px;
}
.slider::-webkit-slider-thumb {
    width: 15px;
    -webkit-appearance: none;
    height: 15px;
    cursor: ew-resize;
    background: #fff;
    border-radius: 50%;
    position: relative;
}

/* Table Properties */
.table-fixed thead {
    width: auto;
}
.table-fixed tbody {
    height: 80vh;
    overflow-y: auto;
    width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr{
    display: block;
    color: white;
}

/* .table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
} */
.table-fixed tr:hover{
    background-color: #444;
    cursor: pointer;
}