
/* Header Section */
header{
    width: 100vw;
    height: 40px;
    -webkit-app-region: drag;
}
#stickynav{
    position: fixed;
    right: 0;
    width: fit-content;
    -webkit-app-region: no-drag;
}
.ctrlBtn{
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: transparent;
    border: 0;
    outline: none;
    transition: all 0.2s;
}
.ctrlBtn i{
    font-size: 18px;
    color: white;
}

.ctrlBtn:hover{
    background-color: rgba(255, 0, 0, 0.9);
}

/* Main Body */
body{
    background-color: #333;
    color: white;
}

/* Footer */
.footer{
    position: absolute;
    height: 10vh;
    background-color: #222;
    width: 100vw;
    margin: 0;
    bottom: 0;
}